{% extends "../../layouts/default.twig" %}

{% block content %}

	<div class="container">
		{% for event in events %}
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">{{ event.title }}</div>
				<div class="panel-body">
					<div class="col-md-3">
						<img src="/uploads/{{ event.image.filename }}" style="max-width:100%;">
					</div>
					<div class="col-md-9">
						<div class="event_listing">
							<h2>{{ event.title }}</h2>
							<div class="event_meta">
								<span>
									<i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.location }}</span><br/>
								<span>
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<strong>{{ event.start|date('l d F - H:i') }}</strong>
									jusqu'à
									<strong>{{ event.end|date('l d F - H:i') }}</strong>
								</span><br/>
								{% for type in event.ticket_types %}
								{{ type.description }}: <span><i class="fa fa-usd" aria-hidden="true"></i>{{ type.price|number_format(2, '.', ' ') }}</span>
								{% endfor %}
							</div>
							<p>{{ event.description.html }}</p>
							<a href="event/{{ event.id }}" class="btn btn-primary btn-lg">Détails et inscription</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
