{% extends "../../layouts/default.twig" %}

{% block js %}
<script src="/js/countdown.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $('.countdown').countdown();
  });
</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-body">
      <div class="col-md-9">
        <h1>{{ event.title }}</h1>
        <div class="event_meta">
          <span><i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.location }}</span><br />
          <span><i class="fa fa-calendar" aria-hidden="true"></i>
            <strong>{{ event.start|date('l d F - H:i') }}</strong> jusqu'à <strong>{{ event.end|date('l d F - H:i') }}</strong>
          </span><br />
        </div>
        <form class="form-inline" action="/event/{{ event.id }}/register/{{ reservation._id }}" method="post">
          {% if reservation.number_of_tickets > 1 %}
            <h2>Participants</h2>
            <div class="row">
              <div class=" col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" value="{{ myself.name }}" readonly disabled>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" value="{{ myself.email }}" readonly disabled>
                </div>
                <div class="form-group">
                  <label>{{ myself.ticket_type.description }}</label>
                </div>
              </div>
            </div>
            {% for attendee in attendees %}
              <input type="hidden" name="attendees[]" value="{{ attendee._id }}">
              <div class="row">
                <div class=" col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="guests_names[{{ attendee._id }}]" placeholder="Nom complet" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="guests_emails[{{ attendee._id }}]" placeholder="email@example.com" required>
                  </div>
                  <div class="form-group">
                    <label>{{ attendee.ticket_type.description }}</label>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <div class="jumbotron row">
            <div class="col-md-9">
              <p>Prix total: <span class="total_price">{{ total_price|number_format(2, '.', ' ') }}&nbsp;$</span></p>

              {% if reservation.number_of_tickets > 1 %}
                <div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="individual_payment" value="0"> Je paie la totalité de la facture
                    </label>
                  </div><br />
                  <div class="radio">
                    <label>
                      <input type="radio" name="individual_payment" value="1" checked> Les invités paient individuellement
                    </label>
                  </div>
                </div>
              {% else %}
                <input type="hidden" name="individual_payment" value="0">
              {% endif %}

              <input type="submit" class="btn btn-primary btn-lg" value="Finaliser l'inscription">
            </div>
            <div class="col-md-3">
              <span class="countdown countdown-big">{{ time_remaining }}</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
