{% extends "../../layouts/default.twig" %}

{% block js %}
<script type="text/javascript" src="/js/accumulate.js"></script>
<script type="text/javascript">
    $(function () {
      var max_buy_tickets = {{ event.max_buy_tickets }};
      var min_buy_tickets = {{ max(1, event.min_buy_tickets) }};

      function render() {
        const sum = $('.number_of_tickets').accumulate(function(e) {
          return $(e).val();
        });

        if (sum >= min_buy_tickets && sum <= max_buy_tickets) {
          $('#buy_btn').removeAttr('disabled');
        } else {
          $('#buy_btn').attr('disabled', 'disabled');
        }
      }

      $('.number_of_tickets').change(render);

      render();
    });
</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-body">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <h1>{{ event.title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img src="/uploads/{{ event.image.filename }}" style="max-width:100%;">
          </div>
          <div class="col-md-9">
            <div class="event_meta">
              <span>
                <i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.location }}</span><br/>
              <span>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <strong>{{ event.start|date('l d F - H:i') }}</strong>
                jusqu'à
                <strong>{{ event.end|date('l d F - H:i') }}</strong>
              </span><br/>
              {% for type in ticketTypes %}
                  {{ type.description }}: <span><i class="fa fa-usd" aria-hidden="true"></i>{{ type.price|number_format(2, '.', ' ') }}</span>
              {% endfor %}
            </div>
            {{ event.description.html }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% if registratonsOpened %}
                {% if ticketsAvailable > event.min_buy_tickets %}
                  {% if user is defined %}
                    <form action="/event/{{ event._id }}/reservation" method="post" class="form-inline">
                      <h3 class="text-center">Mon billet</h3>
                      <div class="buy_section">
                        <table class="table">
                          <tr>
                            <th>Type</th>
                            <th class="text-right">Nombre</th>
                          </tr>
                          <tr>
                            <td>
                              <select class="form-control" name="my_ticket_type">
                                {% for type in ticketTypes %}
                                  <option value="{{ type._id }}">{{ type.description }}</option>
                                {% endfor %}
                              </select>
                            </td>
                            <td class="text-right">
                              <select class="form-control number_of_tickets" style="width:100%;">
                                  <option>1</option>
                              </select>
                            </td>
                        </table>
                      </div>
                      {% if event.max_buy_tickets > 1%}
                        <h3 class="text-center">Mes invités</h3>
                        <div class="buy_section">
                          <table class="table">
                            <tr>
                              <th>Type</th>
                              <th>Prix</th>
                              <th class="text-right">Nombre</th>
                            </tr>
                            {% for type in ticketTypes %}
                              <tr>
                                <td>{{ type.description }}</td>
                                <td>$ {{ type.price|number_format(2, '.', ' ') }}</td>
                                <td class="text-right">

                                  <select class="form-control number_of_tickets" name="number_of_tickets[{{ type._id }}]" style="width:100%;">
                                    {% for n in 0..(type.max_buy > 0 ? min(type.max_buy, event.max_buy_tickets - 1) : event.max_buy_tickets - 1) %}
                                      <option value="{{ n }}">{{ n }}</option>
                                    {% endfor %}
                                  </select>
                                </td>
                              </tr>
                            {% endfor %}
                          </table>
                        </div>
                      {% endif %}

                      {% if event.max_buy_tickets > 1 and event.max_buy_tickets == event.min_buy_tickets %}
                        <p>Vous devez acheter {{ event.max_buy_tickets }} billets.</p>
                      {% else %}
                        <p>
                          Maximum {{ event.max_buy_tickets }} billet{{ (event.max_buy_tickets > 1) ? 's' : '' }}
                          {% if event.min_buy_tickets > 0 %}
                            , minimum {{ event.min_buy_tickets }} billet{{ (event.min_buy_tickets > 1) ? 's' : '' }}
                          {% endif %}
                        </p>
                      {% endif %}
                      <div class="form-group">
                        <input type="submit" id="buy_btn" class="btn btn-primary btn-lg" value="Acheter" disabled>
                      </div>
                    </form>
                  {% else %}
                      <a class="btn btn-primary btn-lg" href="/signin?redirect={{ loginRedirect }}">Acheter</a>
                  {% endif %}
                {% else %}
                    Sold out!
                {% endif %}
              {% else %}
                  Les inscriptions sont présentement fermées
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 {% endblock %}
