#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.form-inline .form-group {
  margin-right:4px;
  margin-top: 8px;
}

div.event_meta {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(27,31,35,0.05);
	font-size: 1.1em;
}

.event_meta span {
	margin: 4px;
	padding: 0.2em;
	background-color: rgba(27,31,35,0.05);
	border-radius: 3px;
	display: inline-block;
}

.event_meta span i {
	margin-right: 8px;
	margin-left: 8px;
}

.countdown-big {
	font-weight: bold;
	font-size: 4em;
}

.countdown-medium {
	font-weight: bold;
	font-size: 2em;
}

.number_of_tickets {
	max-width: 100px;
}

.reservation_listing {
	background-color: #f9f9f9;
	border-top: solid 1px rgb(221, 221, 221);
	padding: 10px;
}

.reservation_listing h3 {
	display: inline-block;
	margin-right: 10px;
}

.reservation_listing .btn {
	margin-left: 10px;
	margin-top: -10px;
}

.reservation_listing .timer {
	margin-top: 12px;
}

.reservation_listing_guests fa {
	color: green;
}

.payment_validation_msg {
	top:30%;
}

.jumbotron.row {
	margin-top: 2em;
}

.jumbotron.row .btn{
	margin-top: 1em;
}

.carousel-inner img {
	width: 100%;
}

.navbar-default .navbar-nav>li>a {
	font-size: 1.2em;
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		padding: 25px;
	}

	.navbar-nav>li:not(:last-child):after {
	  content: '';
	  height: 20px;
	  width: 1px;

	  position: absolute;
	  right: 0;
	  top: 25px;

	  background-color: #777;
	}
}

.navbar-brand {
	padding-top: 15px;
	padding-bottom: 25px;
	font-size: 24px;
}

.navbar-default {
    background: none;
    border: none;
}

.jumbotron.home {
    text-align: center;
    background-color: transparent;
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-right: 75px;
	}
}

.login-nav {
	list-style: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
	font-weight: bold;
}

video {
  background: #222;
  margin: 0 0 20px 0;
  width: 100%;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 300000;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
