{% extends "../../layouts/default.twig" %}

{% block content %}

<div class="container">
    <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Mot de passe oublié?</div>
    <div class="panel-body">

    <div class="col-md-4">
    <form role="form" action="/forgotpassword" method="post">
    <div class="form-group">
        <label for="email" class="control-label">Adresse courriel:</label>
        <div class="input-icon">
        <input class="form-control email" id="email" placeholder="you@polymtl.ca" name="email" type="email" value="">
        </div>

    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary " value="Réinitialiser mon mot de passe">
    </div>
    </form>
    </div>
    </div>
    </div>
</div>
 {% endblock %}
