{% extends "../../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Créer un compte</div>
			<div class="panel-body">
				<div class="col-md-6">
					<form action="/join" method="post" class="form-horizontal">
						<fieldset>
							<div class="form-group required">
								<label class="col-md-4 control-label">Prenom*</label>
								<div class="col-md-8">
									<input class="form-control" id="firstname" placeholder="Prenom" name="firstname" type="text" value="{{form.firstname}}">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-md-4 control-label">Nom*</label>
								<div class="col-md-8">
									<input class="form-control" id="lastname" placeholder="Nom" name="lastname" type="text" value="{{form.lastname}}">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-md-4 control-label">Compagnie</label>
								<div class="col-md-8">
									<input class="form-control" id="company" placeholder="Compagnie (optionnel)" name="company" type="text" value="{{form.company}}">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-md-4 control-label">Adresse courriel*</label>
								<div class="col-md-8">
									<input class="form-control" id="email" placeholder="you@polymtl.ca" name="email" type="email" value="{{form.email}}">
								</div>
							</div>
							<div class="form-group required">
								<label class="col-md-4 control-label">Mot de passe*</label>
								<div class="col-md-8">
									<input class="form-control" id="password" name="password" placeholder="password" type="password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label"></label>
								<div class="col-md-8">
									<div style="clear:both"></div>
									<button class="btn btn-primary" type="submit">Créer le compte</button> ou
									<a href="/signin" class="btn" type="submit">Se connecter</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
