{% extends "../../layouts/default.twig" %}

{% block content %}

<div class="container">
    <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Se connecter à la billetterie</div>
    <div class="panel-body">

    <div class="col-md-4">
    <a href="/join" class="btn btn-primary">Créer un compte sur la billetterie</a><br />ou
    <form role="form" action="/signin" method="post">
     <div class="form-group">
        <label for="sender-email" class="control-label">Adresse courriel:</label>
        <div class="input-icon">
        <input class="form-control email" id="signin-email" placeholder="you@polymtl.ca" name="email" type="email" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="user-pass" class="control-label">Mot de passe:</label>
        <div class="input-icon">
        <input type="password" class="form-control" placeholder="Mot de passe" name="password" id="password">
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="redirect" value="{{ redirect }}">
        <input type="submit" class="btn btn-primary " value="Se connecter">    <br/>
        <a href='/forgotpassword'>J'ai oublié mon mot de passe!</a>
    </div>
    </form>
    </div>
    </div>
    </div>
</div>
 {% endblock %}
