{% import "../mixins/flash-messages.twig" as FlashMessages %}
{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title|default("promo") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		{% if user and user.canAccessKeystone %}
			<link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
		{% endif %}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		{% block css %}{% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="header" class="container">
			<div class="row">
				<div class="pull-right">
					<ul class="login-nav hidden-xs">
						{% if user is defined %}
							{% if user.canAccessKeystone %}
								<li><a href="/keystone">Open Keystone</a></li>
							{% endif %}
							{% if user.canOrganiseEvents %}
								<li><a href="/organise">Organiser</a></li>
								<li><a href="/memberships">Mes groupes</a></li>
							{% endif %}
							<li><a href="/profile/tickets">Mes billets</a></li>
							<li><a href="/signout">Déconnexion</a></li>
						{% else %}
							<li><a href="/join">Créer un compte</a></li>
							<li><a href="/signin">Connexion</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<div role="navigation" class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><img src="/images/aep.png" width="62" style="margin-top: -20px; margin-right: 10px; display:inline-block;"><span>Billetterie</span></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							{% for link in navLinks %}
								{% set linkClass = '' %}
								{% if link.key == section %}
									{% set linkClass = ' class="active"' %}
								{% endif %}
								<li{{ linkClass | striptags }}>
									<a href="{{ link.href }}">{{ link.label }}</a>
								</li>
							{% endfor %}
						</ul>
						<ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
							{% if user is defined %}
								{% if user.canAccessKeystone %}
									<li><a href="/keystone">Open Keystone</a></li>
								{% endif %}
								{% if user.canOrganiseEvents %}
									<li><a href="/organise">Organiser</a></li>
								{% endif %}
								<li><a href="/profile/tickets">Mes billets</a></li>
								<li><a href="/signout">Déconnexion</a></li>
							{% else %}
								<li><a href="/join">Créer un compte</a></li>
								<li><a href="/signin">Connexion</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			{% block intro %}{% endblock %}
			{{ FlashMessages.renderMessages(messages) }}
			{% block content %}{% endblock %}
		</div>
		<div id="footer" class="container">
			<p>Powered by <a href="http://step.polymtl.ca" target="_blank">STEP</a>. Credits: <a href="http://louisracicot.com" target="_blank">Louis Racicot</a></p>
		</div>
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{% if (user is defined) and (user.canAccessKeystone) %}
			<script src="/keystone/js/content/editor.js"></script>
		{% endif %}
		{% block js %}{% endblock %}
	</body>
</html>
{% endspaceless %}
