{% import "../mixins/flash-messages.twig" as FlashMessages %}
{% spaceless %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title|default("promo") }}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style media="screen">
		  #result {
		    text-align: center;
		    color: #fff;
		    font-size: 2em;
		    padding: 0.5em;
		    width: 100%;
		    position: fixed;
		    bottom: 0;
		    background-color: #666;
		  }

		  #ticket_data {
		    text-align: center;
		    color: #333;
		    z-index: 300000;
		    padding: 0.5em;
		    margin: 0.5em;
		    height: 500px;
		    width: 98%;
		    position: fixed;
		    bottom: 0;
		    background-color: #fff;
		  }

		  .invalid-msg {
		  	padding: 2em;
			font-size: 2em;
			text-align: center;
			width: 100%;
			background-color: #db4437;
			color: rgba(255,255,255,.8);
			margin-bottom: 1em;
		  }

		  .valid-msg {
		  	padding: 2em;
			font-size: 2em;
			text-align: center;
			width: 100%;
			background-color: #4bb543;
			color: rgba(255,255,255,.8);
			margin-bottom: 1em;
		  }

		  .valid-msg small {
			  font-size: 1em;
		  }
		</style>
		{% block css %}{% endblock %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="body">
			{% block intro %}{% endblock %}
			{{ FlashMessages.renderMessages(messages) }}
			{% block content %}{% endblock %}
		</div>
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>
{% endspaceless %}
