{% extends "../../layouts/default.twig" %}

{% block js %}
<script type="text/javascript">
  $(function() {
    {% for membership in memberships %}
      {% for cf in customfields[membership._id] %}
        {% if cf.type == 'Boolean' %}
          $('#{{ cf.name }}{{ cf.group}}').prop('checked', {{ attribute(membership, cf.getFieldName) }});
        {% else %}
          $('#{{ cf.name }}{{ cf.group}}').val('{{ attribute(membership, cf.getFieldName) }}');
        {% endif %}
      {% endfor %}
    {% endfor %}
  });
</script>
{% endblock %}

{% block content %}

<div class="container">
<!-- Default panel contents -->
{% for membership in memberships %}
<div class="panel panel-primary">
  <div class="panel-heading">{{ membership.group.name }}</div>
    <div class="panel-body">
      <form class="form" action="/membership/{{ membership._id }}" method="post">
        {% for customfield in customfields[membership._id] %}
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-4 col-xs-12">
            {{ customfield.render }}
          </div>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="enregistrer">
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
