{% extends "../../layouts/default.twig" %}


{% block js %}
<script src="/js/countdown.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $('.countdown').countdown();

    $('.deleteBtn').click(function() {
      $.ajax({
        method: 'delete',
        url: '/profile/tickets/' + $(this).attr('data-reservation-id')
      }).success(function() {
        location.reload();
      });
    });
  });
</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Tickets</div>
    <div class="panel-body">
      <div class="col-md-12">
        {% if reservations|length <= 0 and tickets|length <= 0 %}
            <h1>Vous n'avez pas de billets</h1>
            <a href="/events">Trouvez un événement!</a>
        {% endif %}
        {% if reservations|length > 0 %}
            <h1>Mes réservations</h1>
            {% for reservation in reservations %}
                <div class="row reservation_listing">
                    <div class="col-md-6 col-sm-6 col-xs-8">
                      <h3>{{ reservation.event.title }}&nbsp;
                        <small>
                          <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{ reservation.number_of_tickets }}&nbsp;
                        </small>
                      </h3>
                      {% if reservation.paid_for_current_user == false %}
                        {% if reservation.payable %}
                          {% if reservation.individual_payment == true %}
                            <a class="btn btn-primary btn-sm" href="/payment/{{ reservation._id }}/{{ reservation.myself[0]._id }}">Payer maintenant</a>
                          {% else %}
                            <a class="btn btn-primary btn-sm" href="/payment/{{ reservation._id }}">Payer maintenant</a>
                          {% endif %}
                        {% endif %}
                        <button class="btn btn-danger btn-sm deleteBtn" data-reservation-id="{{ reservation._id }}">Annuler</button>
                      {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-4 timer countdown-medium">
                      {% if reservation.expired %}
                      <span>Expiré</span>
                      {% else %}
                        <span class="countdown">{{ reservation.time_remaining }}</span>
                      {% endif %}
                    </div>
                    {% if reservation.number_of_tickets > 1 %}
                      <div class="col-md-5">
                        <p>&nbsp;</p>
                        <table class="table reservation_listing_guests">
                          <tr>
                            <th>Moi-même</th>
                            <th>Paiement</th>
                          </tr>
                          <tr>
                            <td>{{ reservation.myself[0].name }}</td>
                            <td>
                              {% if reservation.myself[0].paid %}
                                <i class="fa fa-check-circle" aria-hidden="true" style="color:#3c763d"></i>
                              {% else %}
                                <i class="fa fa-times-circle" aria-hidden="true" style="color:#a94442"></i><a href="/payment/{{ reservation._id }}/{{ reservation.myself[0]._id }}" class="btn btn-xs btn-primary">Payer</a>
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <th>Invité</th>
                            <th>Paiement</th>
                          </tr>
                          {% for guest in reservation.guests %}
                          <tr>
                            <td>{{ guest.name }}</td>
                            <td>
                              {% if guest.paid %}
                                <i class="fa fa-check-circle" aria-hidden="true" style="color:#3c763d"></i>
                              {% else %}
                                <i class="fa fa-times-circle" aria-hidden="true" style="color:#a94442"></i><a href="/payment/{{ reservation._id }}/{{ guest._id }}" class="btn btn-xs btn-primary">Payer</a>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </table>
                      </div>
                    {% endif %}
                </div>
            {% endfor %}
          {% endif %}
          {% if tickets|length > 0 %}
            <div class="col-md-6">
              <h1>Mes Billets</h1>
              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th>Événement</th>
                    <th>Action</th>
                  </tr>
                </thead>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.event.title }}</td>
                        <td>
                          <a href="/profile/ticket/{{ ticket._id }}">
                            <i class="fa fa-qrcode" aria-hidden="true"></i> Voir le billet électronique
                          </a>
                        </td>
                    </tr>
                {% endfor %}
              </table>
            </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
