<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tickets</title>
    </head>
    <body>
        {% for ticket in tickets %}
            <img src="{{ ticket.qrimage }}" alt="">
            <p>{{ ticket._id }}</p>
            <p>{{ ticket.name }} - {{ ticket.email }}</p>
            <h1>{{ event.title }}</h1>
            <div class="event_meta">
              <span>
                <i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.location }}</span><br/>
              <span>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <strong>{{ event.start|date('l d F - H:i') }}</strong>
                jusqu'à
                <strong>{{ event.end|date('l d F - H:i') }}</strong>
              </span><br/>
              {{ ticket.ticket_type.description }}: <span><i class="fa fa-usd" aria-hidden="true"></i>{{ ticket.ticket_type.price|number_format(2, '.', ' ') }} $</span>
            </div>
            <small>Veuillez apporter ce billet le jour de l'événement, sur mobile ou papier.</small><br>
            <small><em>Les billets ne sont pas remboursables et non transférables.</em></small>
            <hr>
        {% endfor %}
    </body>
</html>
