{% extends "../../layouts/default.twig" %}

{% block js %}
<script src="/js/countdown.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $('.countdown').countdown();
  });
</script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="/js/paypal_payment.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
  $('#paypal-button').paypal_button({
    paypal_env: '{{ (paypal.env == 'live') ? 'production' : 'sandbox' }}',
    paypal_client_id: '{{ paypal.client_id }}',
    total_price: {{ total_price|number_format(2, '.', '') }},
    payment_validation_url: '/payment/{{ event._id }}/{{ attendee._id }}',
  });
});
</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="alert alert-success" id="payment_sucess_msg" style="display:none;">
    <strong>All done!</strong> Votre paiement à été approuvé.
  </div>
  <div class="alert alert-danger" id="payment_err_msg" style="display:none;">
    <strong>Erreur!</strong> Une erreur s'est produite avec votre paiement.
  </div>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-body">
      <div class="col-md-9">
        <h1>{{ event.title }}</h1>
        <div class="event_meta">
          <span><i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.location }}</span><br />
          <span><i class="fa fa-calendar" aria-hidden="true"></i>
            <strong>{{ event.start|date('l d F - H:i') }}</strong> jusqu'à <strong>{{ event.end|date('l d F - H:i') }}</strong>
          </span><br />
        </div>
        <div class="discount">
          {% if discount %}
            <span class="label label-default"><i class="fa fa-tag" aria-hidden="true"></i> {{ discount.code }}</span>
          {% else %}
            <form class="form-inline" action="/discount/{{ attendee._id }}" method="post">
              <label for="discount">Code rabais</label>&nbsp;
              <input class="form-control" type="text" name="code">&nbsp;
              <input type="submit" class="btn btn-primary" value="Appliquer">
              <input type="hidden" name="redirect" value="{{ currentUri }}">
            </form>
          {% endif %}
        </div>
        <div class="jumbotron row">
          <div class="col-md-9">
            <p>Prix total: <span class="total_price">{{ total_price|number_format(2, '.', ' ') }}&nbsp;$</span></p>

            <div id="paypal-button"></div>
            <small><em>Les billets ne sont pas remboursables et non transférables.</em></small>
          </div>
          <div class="col-md-3">
            <span class="countdown countdown-big">{{ remainingTime }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="payment_validation_msg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center">
          Un instant, nous validons votre paiement.<br><br>
          <i class="fa fa-circle-o-notch fa-spin" style="font-size:72px"></i>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
