{% extends "../../layouts/default.twig" %}

{% block js %}
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="/js/countdown.js" type="text/javascript"></script>
<script src="/js/paypal_payment.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $('.countdown').countdown();
  });
</script>
<script type="text/javascript">
$(function(){
  $('#paypal-button').paypal_button({
    paypal_env: '{{ (paypal.env == 'live') ? 'production' : 'sandbox' }}',
    paypal_client_id: '{{ paypal.client_id }}',
    total_price: {{ total_price|number_format(2, '.', '') }},
    payment_validation_url: '/payment/{{ event._id }}/{{ attendee._id }}',
  });
});
</script>

{% endblock %}

{% block content %}

<div class="container">
  <div class="alert alert-success" id="payment_sucess_msg" style="display:none;">
    <strong>All done!</strong> Votre paiement à été approuvé.
  </div>
  <div class="alert alert-danger" id="payment_err_msg" style="display:none;">
    <strong>Erreur!</strong> Une erreur s'est produite avec votre paiement.
  </div>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-body">
      <div class="col-md-9">
        <h1>{{ event.title }}</h1>
        <div class="event_meta">
          <span><i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.location }}</span><br />
          <span><i class="fa fa-calendar" aria-hidden="true"></i>
            <strong>{{ event.start|date('l d F - H:i') }}</strong> jusqu'à <strong>{{ event.end|date('l d F - H:i') }}</strong>
          </span><br />
        </div>
        {% if reservation.number_of_tickets > 1 %}
          <h2>Détails</h2>
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Invité</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Status</th>
                <th>Code rabais</th>
              </tr>
            </thead>
            {% for attendee in attendees %}
            <tr>
              <td>{{ attendee.name }} - {{ attendee.email }}</td>
              <td>{{ attendee.ticket_type.description }}</td>
              <td>{{ attendee.price|number_format(2, '.', ' ') }}&nbsp;$</td>
              <td>{{ (attendee.paid) ? 'Payé' : 'Non-payé' }}</td>
              <td>
                {% if attendee.discount %}
                  <span class="label label-default"><i class="fa fa-tag" aria-hidden="true"></i> {{ attendee.discount.code }}</span>
                {% elseif attendee.paid == false %}
                  <form class="form-inline" action="/discount/{{ attendee._id }}" method="post">
                    <input class="form-control input-sm" type="text" name="code">&nbsp;
                    <input type="submit" class="btn btn-primary btn-sm" value="Appliquer">
                    <input type="hidden" name="redirect" value="{{ currentUri }}">
                  </form>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
        <div class="jumbotron row">
          <div class="col-md-9">
            <p>Prix total: <span class="total_price">{{ total_price|number_format(2, '.', ' ') }}&nbsp;$</span></p>

            <div id="paypal-button"></div>
            <small><em>Les billets ne sont pas remboursables et non transférables.</em></small>
          </div>
          <div class="col-md-3">
            <span class="countdown countdown-big">{{ remainingTime }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="payment_validation_msg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center">
          Un instant, nous validons votre paiement.<br><br>
          <i class="fa fa-circle-o-notch fa-spin" style="font-size:72px"></i>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
