{% extends "../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<div class="jumbotron home">
			<h1>Tous les événements de Poly!</h1>
			<p>Vous pouvez chercher dans la <a href="/events">liste des événements</a>.</p>
			<hr>
			<div id="carousel-home" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-home" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-home" data-slide-to="1"></li>
					<li data-target="#carousel-home" data-slide-to="2"></li>
					<li data-target="#carousel-home" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="/images/home1.jpg">
						<div class="carousel-caption">
							Tournée des Grands Ducs 2016
						</div>
					</div>
					<div class="item">
						<img src="/images/home2.jpg">
						<div class="carousel-caption">
							Tournée des Grands Ducs 2016
						</div>
					</div>
					<div class="item">
						<img src="/images/home3.jpg">
						<div class="carousel-caption">
							Bal des finissants 2016
						</div>
					</div>
					<div class="item">
						<img src="/images/home4.jpg">
						<div class="carousel-caption">
							Cérémonie d'engagement de l'ingénieur (remise du jonc) 2016
						</div>
					</div>
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<p>
				Pour toute question relative à l'utilisation de la billetterie,
				contactez le <a href="http://step.polymtl.ca" target="_blank">STEP</a>.
			</p>
		</div>
	</div>
{% endblock %}
