{% extends "../../layouts/default.twig" %}

{% block content %}

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Dashboard</div>
    <div class="panel-body">
      <div class="col-md-12">
          <a href="/scanner">Scanner</a><br>
          <a href="/organise/tickets">Générer des billets</a><br>
          <a href="/organise/groups">Gérer les groupes</a><br>
      </div>
    </div>
  </div>
</div>

{% endblock %}
