{% extends "../../layouts/default.twig" %}

{% block content %}
<div class="container">
  {% for group in groups %}
  <div class="panel panel-primary">
    <div class="panel-heading">{{ group.name }}</div>
    <div class="panel-body">
      <div class="col-md-4">
        <form role="form" action="/organise/groups/{{ group._id }}" method="post">
          <div class="form-group">
            <label class="control-label">Emails:</label>
            <textarea name="emails" rows="8" cols="80"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Ajouter">
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
