{% extends "../../layouts/scanner.twig" %}

{% block content %}
<div class="loading hide">Loading&#8230;</div>
<div id="ticket_data" class="hide">
  <div id="ticket_info"></div>
  <button type="button" class="btn btn-primary btn-lg resume-scan">Fermer</button>
</div>
<video muted autoplay></video>
<select id="videoSource"></select>
<div id="result">Scanning...</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/jsqrcode.js"></script>
<script type="text/javascript" src="/js/camera.js"></script>
<script type="text/javascript">
$(function() {
  'use strict';

  $('video').camera({ videoSelect: '#videoSource'});

  var qr = new QrCode();

  var states = {
    currentState: 'null',
    changeState: function (newState, newStateData = {}) {
      states[states.currentState].exit();
      states[newState].enter(newStateData);
      states.currentState = newState;
    },
    executeState: function () {
        states[states.currentState].execute();
    },
    null: { enter: function () {}, exit: function () {}, execute: function () {} },

    // actual states
    scanning: {
      enter: function () {
        $('#result').html('Scanning...');
      },
      exit: function () {},
      execute: scan,
    },
    validating: {
      enter: function () {
        $('#result').html('Validating...');
        $('.loading').removeClass('hide');
      },
      exit: function () {
        $('.loading').addClass('hide');
      },
      execute: function () {},
    },
    displaying: {
      enter: function () {
        $('#ticket_data').removeClass('hide');
      },
      exit: function () {
        $('#ticket_data').addClass('hide');
      },
      execute: function () {},
    },
  }

  function updateTicketInfo(data) {
    if (data.status === 'invalid') {
      $('#ticket_info').html('<div class="invalid-msg">Billet invalide</div>');
    } else {
      $('#ticket_info').html('<div class="valid-msg">Billet valide<br />' + data.ticket.name + '<br /><small>' + data.ticket._id + '</small></div>');
    }
  }

  function scan() {
    var canvas = document.createElement("canvas");
    canvas.width = $("video").get(0).videoWidth;
    canvas.height = $("video").get(0).videoHeight;
    canvas.getContext('2d').drawImage($("video").get(0), 0, 0, canvas.width, canvas.height);

    qr.decode(canvas.toDataURL());
  };

  qr.callback = function(err, result) {
    if (err) return;
    states.changeState('validating');

    $.post('/scanner', { code: result.result }).done(function(res) {
      states.changeState('displaying');
      updateTicketInfo(res);
    });
  }

  $('.resume-scan').click(function() {
    states.changeState('scanning');
  });

  states.changeState('scanning');
  setInterval(states.executeState, 800);
}());
</script>
{% endblock %}
