{% extends "../../layouts/default.twig" %}

{% block content %}
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Generate tickets</div>
    <div class="panel-body">
      <div class="col-md-4">
        <form role="form" action="/organise/tickets" method="post">
          <div class="form-group">
            <label class="control-label">Étudiant:</label>
            <select class="form-control select2" name="user">
                {% for user in users %}
                    <option value="{{ user._id }}">{{ user.full_name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Évenement:</label>
            <select class="form-control select2" id="event" name="event">
                <option value=""></option>
                {% for event in events %}
                    <option value="{{ event._id }}">{{ event.title }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Type:</label>
            <select class="form-control select2" name="ticket_type" id="ticket_type">
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Générer">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
{% endblock %}

{% block js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script type="text/javascript">
$(function() {
  $(".select2").select2();

  var ticket_types = {};

  {% for event in events %}
      ticket_types['{{ event._id }}'] = {};
      {% for type in event.ticket_types %}
        ticket_types['{{ event._id }}']['{{ type._id }}'] = '{{ type.description }}';
      {% endfor %}
  {% endfor %}

  $('#event').change(function() {
    $('#ticket_type').html('');
    $.each(ticket_types[$(this).val()], function (key, type) {
      $('#ticket_type').append($('<option>', {
        value: key,
        text : type
      }));
    });
  });
});
</script>
{% endblock %}
