{% block contents %}
	<h1>Bonjour {{ full_name }},</h1>
    <p>Vous avez été invité à payer votre inscription pour l'événement {{ event.title }} sur la billetterie de l'AEP.</p>
    <p><a href="{{ payment_link }}">Cliquez ici</a> ou visitez l'adresse suivante: {{ payment_link }}</p>
{% endblock %}
