{% block contents %}
	<h1>Bonjour {{ full_name }},</h1>
    <p>Vous avez été invité à joindre la billetterie de l'AEP afin de participer à l'événement "{{ event.title }}".</p>
    <p><a href="{{ join_link }}">Cliquez ici</a> ou visitez l'adresse suivante: {{ join_link }}</p>
{% endblock %}
